  <!-- Script files -->
  <footer>
    <p>&copy; 2024, All Rights Reserved.</p>
    <p>
      <a href="https://github.com/safarahman19" target="_blank" rel="noopener noreferrer">GitHub</a> |
      <a href="https://www.linkedin.com/in/safa-rahman-1aab70336/" target="_blank" rel="noopener noreferrer">LinkedIn</a> 
    </p>
  <link rel='stylesheet' href='/Content/app.css' />
  <script src = "/Scripts/app.js"></script>
  <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/jquery/dist/jqeury.min.js"></script>
</footer>
</body>
</html>
